In [1]:
import pandas as pd 
import numpy as np

### 合併AUD的檔案

In [2]:
df = pd.read_csv('./Pre_data/news/AUDNews105109.csv', index_col = 0)
fx = pd.read_csv('./Pre_data/forex/AUDUSD_rate_105_109.csv', index_col = 0)

In [3]:
df

,date,word2vec_body,tfidf_body,bert_body,source_title
0,2016-01-01,roger federer is a man used to making history ...,roger federer man use make history come race r...,['roger federer is a man used to making histor...,Forbes
1,2016-01-03,we are continually told that raising the minim...,continually tell raise minimum wage hour incre...,['we are continually told that raising the min...,Forbes
2,2016-01-04,if you have a large tax debt you might have tr...,large tax debt might trouble travel since irs ...,['if you have a large tax debt you might have ...,Forbes
3,2016-01-04,as markets reopen for the first week of invest...,market reopen first week investor focus asia c...,['as markets reopen for the first week of inve...,CNBC
4,2016-01-04,good morning here is everything you need to kn...,good morning everything need know world advert...,"['good morning', 'here is everything you need ...",Business Insider
...,...,...,...,...,...
17475,2020-12-31,the los olivos calif property underwent a seri...,los olivos calif property undergo series price...,['the los olivos calif property underwent a se...,The Wall Street Journal
17476,2020-12-31,a look at the biggest residential transactions...,look big residential transaction close around ...,['a look at the biggest residential transactio...,The Wall Street Journal
17477,2020-12-31,i write about global policy and lead advocacy ...,write global policy lead advocacy global citiz...,['i write about global policy and lead advocac...,Forbes
17478,2020-12-31,buoyed by positive momentum for shares of inte...,buoy positive momentum share intel goldman sac...,['buoyed by positive momentum for shares of in...,MarketWatch
17479,2020-12-31,the dow jones industrial average is climbing t...,dow jones industrial average climb thursday af...,['the dow jones industrial average is climbing...,MarketWatch

In [4]:
fx

,date,"AUD/USD(open,bid)","AUD/USD(close,bid)",growth value,growth rate,binary,ternary_1,ternary_2
0,2016-01-04,0.72813,0.71885,-0.00964,-1.323285,0,0,0
1,2016-01-05,0.71885,0.71586,-0.00299,-0.415942,0,0,0
2,2016-01-06,0.71586,0.70703,-0.00883,-1.233481,0,0,0
3,2016-01-07,0.70703,0.70105,-0.00598,-0.845792,0,0,0
4,2016-01-08,0.70105,0.69467,-0.00638,-0.910063,0,0,0
...,...,...,...,...,...,...,...,...
1291,2020-12-24,0.75726,0.75929,0.00203,0.268072,1,1,1
1292,2020-12-28,0.75988,0.75759,-0.00170,-0.223893,0,0,0
1293,2020-12-29,0.75759,0.76012,0.00253,0.333954,1,1,1
1294,2020-12-30,0.76012,0.76835,0.00823,1.082724,1,1,1
1295,2020-12-31,0.76835,0.76994,0.00159,0.206937,1,1,1

In [5]:
fx_df = pd.DataFrame()
fx_df["date"] = fx["date"]
fx_df["binary"] = fx["binary"]
fx_df["ternary_1"] = fx["ternary_1"]
fx_df["ternary_2"] = fx["ternary_2"]
fx_df

            date  binary  ternary_1  ternary_2
0     2016-01-04       0          0          0
1     2016-01-05       0          0          0
2     2016-01-06       0          0          0
3     2016-01-07       0          0          0
4     2016-01-08       0          0          0
...          ...     ...        ...        ...
1291  2020-12-24       1          1          1
1292  2020-12-28       0          0          0
1293  2020-12-29       1          1          1
1294  2020-12-30       1          1          1
1295  2020-12-31       1          1          1

[1296 rows x 4 columns]

In [6]:
#以新聞為主去做合併的動作
aud_fx = pd.merge(df,fx_df,how='left')

In [7]:
aud_fx

,date,word2vec_body,tfidf_body,bert_body,source_title,binary,ternary_1,ternary_2
0,2016-01-01,roger federer is a man used to making history ...,roger federer man use make history come race r...,['roger federer is a man used to making histor...,Forbes,NaN,NaN,NaN
1,2016-01-03,we are continually told that raising the minim...,continually tell raise minimum wage hour incre...,['we are continually told that raising the min...,Forbes,NaN,NaN,NaN
2,2016-01-04,if you have a large tax debt you might have tr...,large tax debt might trouble travel since irs ...,['if you have a large tax debt you might have ...,Forbes,0.0,0.0,0.0
3,2016-01-04,as markets reopen for the first week of invest...,market reopen first week investor focus asia c...,['as markets reopen for the first week of inve...,CNBC,0.0,0.0,0.0
4,2016-01-04,good morning here is everything you need to kn...,good morning everything need know world advert...,"['good morning', 'here is everything you need ...",Business Insider,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
17475,2020-12-31,the los olivos calif property underwent a seri...,los olivos calif property undergo series price...,['the los olivos calif property underwent a se...,The Wall Street Journal,1.0,1.0,1.0
17476,2020-12-31,a look at the biggest residential transactions...,look big residential transaction close around ...,['a look at the biggest residential transactio...,The Wall Street Journal,1.0,1.0,1.0
17477,2020-12-31,i write about global policy and lead advocacy ...,write global policy lead advocacy global citiz...,['i write about global policy and lead advocac...,Forbes,1.0,1.0,1.0
17478,2020-12-31,buoyed by positive momentum for shares of inte...,buoy positive momentum share intel goldman sac...,['buoyed by positive momentum for shares of in...,MarketWatch,1.0,1.0,1.0
17479,2020-12-31,the dow jones industrial average is climbing t...,dow jones industrial average climb thursday af...,['the dow jones industrial average is climbing...,MarketWatch,1.0,1.0,1.0

In [8]:
#用某一個特定值取代所有 nan
aud = aud_fx.fillna("NAN")

In [9]:
#將當日沒有匯率價格走勢影響的新聞(比如六日)，我們都以之後最近一天的匯率最為比較值。
#針對"binary"欄位
for i in range(aud.shape[0]):
    if aud['binary'][i] == 'NAN':
#        print(i)
        for j in range(aud.shape[0]):
            j = j+i+1
            if aud['binary'][j] != 'NAN':
                aud['binary'][i] = aud['binary'][j]
                break

#將當日沒有匯率價格走勢影響的新聞(比如六日)，我們都以之後最近一天的匯率最為比較值。
#針對"ternary_1"欄位
for i in range(aud.shape[0]):
    if aud['ternary_1'][i] == 'NAN':
#        print(i)
        for j in range(aud.shape[0]):
            j = j+i+1
            if aud['ternary_1'][j] != 'NAN':
                aud['ternary_1'][i] = aud['ternary_1'][j]
                break

#將當日沒有匯率價格走勢影響的新聞(比如六日)，我們都以之後最近一天的匯率最為比較值。
#針對"ternary_2"欄位
for i in range(aud.shape[0]):
    if aud['ternary_2'][i] == 'NAN':
#        print(i)
        for j in range(aud.shape[0]):
            j = j+i+1
            if aud['ternary_2'][j] != 'NAN':
                aud['ternary_2'][i] = aud['ternary_2'][j]
                break

In [10]:
aud

,date,word2vec_body,tfidf_body,bert_body,source_title,binary,ternary_1,ternary_2
0,2016-01-01,roger federer is a man used to making history ...,roger federer man use make history come race r...,['roger federer is a man used to making histor...,Forbes,0,0,0
1,2016-01-03,we are continually told that raising the minim...,continually tell raise minimum wage hour incre...,['we are continually told that raising the min...,Forbes,0,0,0
2,2016-01-04,if you have a large tax debt you might have tr...,large tax debt might trouble travel since irs ...,['if you have a large tax debt you might have ...,Forbes,0,0,0
3,2016-01-04,as markets reopen for the first week of invest...,market reopen first week investor focus asia c...,['as markets reopen for the first week of inve...,CNBC,0,0,0
4,2016-01-04,good morning here is everything you need to kn...,good morning everything need know world advert...,"['good morning', 'here is everything you need ...",Business Insider,0,0,0
...,...,...,...,...,...,...,...,...
17475,2020-12-31,the los olivos calif property underwent a seri...,los olivos calif property undergo series price...,['the los olivos calif property underwent a se...,The Wall Street Journal,1,1,1
17476,2020-12-31,a look at the biggest residential transactions...,look big residential transaction close around ...,['a look at the biggest residential transactio...,The Wall Street Journal,1,1,1
17477,2020-12-31,i write about global policy and lead advocacy ...,write global policy lead advocacy global citiz...,['i write about global policy and lead advocac...,Forbes,1,1,1
17478,2020-12-31,buoyed by positive momentum for shares of inte...,buoy positive momentum share intel goldman sac...,['buoyed by positive momentum for shares of in...,MarketWatch,1,1,1
17479,2020-12-31,the dow jones industrial average is climbing t...,dow jones industrial average climb thursday af...,['the dow jones industrial average is climbing...,MarketWatch,1,1,1

In [11]:
aud_no_wrong_date = aud[aud["date"].str.contains("[0-9]*-[0-9]*-[09]*")]

In [12]:
aud_no_wrong_date

,date,word2vec_body,tfidf_body,bert_body,source_title,binary,ternary_1,ternary_2
0,2016-01-01,roger federer is a man used to making history ...,roger federer man use make history come race r...,['roger federer is a man used to making histor...,Forbes,0,0,0
1,2016-01-03,we are continually told that raising the minim...,continually tell raise minimum wage hour incre...,['we are continually told that raising the min...,Forbes,0,0,0
2,2016-01-04,if you have a large tax debt you might have tr...,large tax debt might trouble travel since irs ...,['if you have a large tax debt you might have ...,Forbes,0,0,0
3,2016-01-04,as markets reopen for the first week of invest...,market reopen first week investor focus asia c...,['as markets reopen for the first week of inve...,CNBC,0,0,0
4,2016-01-04,good morning here is everything you need to kn...,good morning everything need know world advert...,"['good morning', 'here is everything you need ...",Business Insider,0,0,0
...,...,...,...,...,...,...,...,...
17475,2020-12-31,the los olivos calif property underwent a seri...,los olivos calif property undergo series price...,['the los olivos calif property underwent a se...,The Wall Street Journal,1,1,1
17476,2020-12-31,a look at the biggest residential transactions...,look big residential transaction close around ...,['a look at the biggest residential transactio...,The Wall Street Journal,1,1,1
17477,2020-12-31,i write about global policy and lead advocacy ...,write global policy lead advocacy global citiz...,['i write about global policy and lead advocac...,Forbes,1,1,1
17478,2020-12-31,buoyed by positive momentum for shares of inte...,buoy positive momentum share intel goldman sac...,['buoyed by positive momentum for shares of in...,MarketWatch,1,1,1
17479,2020-12-31,the dow jones industrial average is climbing t...,dow jones industrial average climb thursday af...,['the dow jones industrial average is climbing...,MarketWatch,1,1,1

In [13]:
aud_no_wrong_date.to_csv('./Pre_data/conbine_data/AUDUSD105_109.csv')

#### 合併完標簽數!!!!!!!

In [14]:
def label_num(df):
    up = 0
    down = 0
    b = 0

    for i in df:
        if i == 0:
            down += 1
        elif i == 1:
            up += 1
        elif i == 2:
            b += 1

    print("上漲: ",up)
    print("下跌: ",down)
    print("平盤: ",b,"\n")

In [15]:
print("三分類無取範圍")
label_num(aud_no_wrong_date["binary"])
print("三分類，取千分之一範圍")
label_num(aud_no_wrong_date["ternary_1"])
print("三分類，取千分之二範圍")
label_num(aud_no_wrong_date["ternary_2"])

三分類無取範圍
上漲:  9269
下跌:  8211
平盤:  0

三分類，取千分之一範圍
上漲:  7890
下跌:  6905
平盤:  2685

三分類，取千分之二範圍
上漲:  6520
下跌:  5740
平盤:  5220

### 合併EUR檔案

In [17]:
df = pd.read_csv('./Pre_data/news/EURNews105109.csv', index_col = 0)
fx = pd.read_csv('./Pre_data/forex/EURUSD_rate_105_109.csv', index_col = 0)

#我們只需要fx的部分欄位
fx_df = pd.DataFrame()
fx_df["date"] = fx["date"]
fx_df["binary"] = fx["binary"]
fx_df["ternary_1"] = fx["ternary_1"]
fx_df["ternary_2"] = fx["ternary_2"]
fx_df

#以新聞為主去做合併的動作
eur_fx = pd.merge(df,fx_df,how='left')

#用某一個特定值取代所有 nan
eur = eur_fx.fillna("NAN")

#將當日沒有匯率價格走勢影響的新聞(比如六日)，我們都以之後最近一天的匯率最為比較值。
#針對"binary"欄位
for i in range(eur.shape[0]):
    if eur['binary'][i] == 'NAN':
#        print(i)
        for j in range(eur.shape[0]):
            j = j+i+1
            if eur['binary'][j] != 'NAN':
                eur['binary'][i] = eur['binary'][j]
                break

#將當日沒有匯率價格走勢影響的新聞(比如六日)，我們都以之後最近一天的匯率最為比較值。
#針對"ternary_1"欄位
for i in range(eur.shape[0]):
    if eur['ternary_1'][i] == 'NAN':
#        print(i)
        for j in range(eur.shape[0]):
            j = j+i+1
            if eur['ternary_1'][j] != 'NAN':
                eur['ternary_1'][i] = eur['ternary_1'][j]
                break

#將當日沒有匯率價格走勢影響的新聞(比如六日)，我們都以之後最近一天的匯率最為比較值。
#針對"ternary_2"欄位
for i in range(eur.shape[0]):
    if eur['ternary_2'][i] == 'NAN':
#        print(i)
        for j in range(eur.shape[0]):
            j = j+i+1
            if eur['ternary_2'][j] != 'NAN':
                eur['ternary_2'][i] = eur['ternary_2'][j]
                break

eur_no_wrong_date = eur[eur["date"].str.contains("[0-9]*-[0-9]*-[09]*")]

In [18]:
eur_no_wrong_date

,date,word2vec_body,tfidf_body,bert_body,source_title,binary,ternary_1,ternary_2
0,2016-01-01,unemployment continues to fall inflation is in...,unemployment continue fall inflation check int...,['unemployment continues to fall inflation is ...,Forbes,0,0,0
1,2016-01-01,was a year of tremendous political and econom...,year tremendous political economic volatility ...,[' was a year of tremendous political and econ...,Forbes,0,0,0
2,2016-01-01,riverside co is ringing in the new year with i...,riverside co ring new year late acquisition re...,['riverside co is ringing in the new year with...,The Wall Street Journal,0,0,0
3,2016-01-01,distrust in banking system hinders capital con...,distrust banking system hinders capital contro...,['distrust in banking system hinders capital c...,Bloomberg Business,0,0,0
4,2016-01-01,in the years since a peace treaty was signed i...,year since peace treaty sign belfast end three...,['in the years since a peace treaty was signed...,International Business Times,0,0,0
...,...,...,...,...,...,...,...,...
101552,2020-12-31,i write about energy and commodities from rene...,write energy commodity renewable energy coal h...,['i write about energy and commodities from re...,Forbes,0,0,0
101553,2020-12-31,philanthropic endeavors are nothing new to the...,philanthropic endeavor nothing new watch indus...,['philanthropic endeavors are nothing new to t...,MarketWatch,0,0,0
101554,2020-12-31,wall street indices finished at alltime highs ...,wall street index finish alltime high thursday...,['wall street indices finished at alltime high...,International Business Times,0,0,0
101555,2020-12-31,the us dollar went from life preserver to cast...,u dollar go life preserver castaway topsyturvy...,['the us dollar went from life preserver to ca...,MarketWatch,0,0,0
101556,2020-12-31,in september surveying the ruins of a continen...,september survey ruin continent rip apart war ...,['in september surveying the ruins of a contin...,International Business Times,0,0,0

In [19]:
eur_no_wrong_date.to_csv('./Pre_data/conbine_data/EURUSD105_109.csv')

In [2]:
# 把標籤2換成0
df = pd.read_csv('./Pre_data/conbine_data/EURUSD105_109.csv', index_col=0)

for i in range(47):
    df["binary"][19100+i] = 0

In [18]:
df.to_csv('./Pre_data/conbine_data/EURUSD105_109.csv')

#### 合併完標簽數!!!!!!!

In [20]:
print("三分類無取範圍")
label_num(eur_no_wrong_date["binary"])
print("三分類，取千分之一範圍")
label_num(eur_no_wrong_date["ternary_1"])
print("三分類，取千分之二範圍")
label_num(eur_no_wrong_date["ternary_2"])

三分類無取範圍
上漲:  51863
下跌:  49647
平盤:  47

三分類，取千分之一範圍
上漲:  42708
下跌:  39410
平盤:  19439

三分類，取千分之二範圍
上漲:  32442
下跌:  30584
平盤:  38531

### 合併JPY檔

In [21]:
df = pd.read_csv('./Pre_data/news/JPYNews105109.csv', index_col = 0)
fx = pd.read_csv('./Pre_data/forex/USDJPY_rate_105_109.csv', index_col = 0)

#我們只需要fx的部分欄位
fx_df = pd.DataFrame()
fx_df["date"] = fx["date"]
fx_df["binary"] = fx["binary"]
fx_df["ternary_1"] = fx["ternary_1"]
fx_df["ternary_2"] = fx["ternary_2"]
fx_df

#以新聞為主去做合併的動作
jpy_fx = pd.merge(df,fx_df,how='left')

#用某一個特定值取代所有 nan
jpy = jpy_fx.fillna("NAN")

#將當日沒有匯率價格走勢影響的新聞(比如六日)，我們都以之後最近一天的匯率最為比較值。
#針對"binary"欄位
for i in range(jpy.shape[0]):
    if jpy['binary'][i] == 'NAN':
#        print(i)
        for j in range(jpy.shape[0]):
            j = j+i+1
            if jpy['binary'][j] != 'NAN':
                jpy['binary'][i] = jpy['binary'][j]
                break

#將當日沒有匯率價格走勢影響的新聞(比如六日)，我們都以之後最近一天的匯率最為比較值。
#針對"ternary_1"欄位
for i in range(jpy.shape[0]):
    if jpy['ternary_1'][i] == 'NAN':
#        print(i)
        for j in range(jpy.shape[0]):
            j = j+i+1
            if jpy['ternary_1'][j] != 'NAN':
                jpy['ternary_1'][i] = jpy['ternary_1'][j]
                break

#將當日沒有匯率價格走勢影響的新聞(比如六日)，我們都以之後最近一天的匯率最為比較值。
#針對"ternary_2"欄位
for i in range(jpy.shape[0]):
    if jpy['ternary_2'][i] == 'NAN':
#        print(i)
        for j in range(jpy.shape[0]):
            j = j+i+1
            if jpy['ternary_2'][j] != 'NAN':
                jpy['ternary_2'][i] = jpy['ternary_2'][j]
                break

jpy_no_wrong_date = jpy[jpy["date"].str.contains("[0-9]*-[0-9]*-[09]*")]

In [22]:
jpy_no_wrong_date

,date,word2vec_body,tfidf_body,bert_body,source_title,binary,ternary_1,ternary_2
0,2016-01-01,was a year of tremendous political and econom...,year tremendous political economic volatility ...,[' was a year of tremendous political and econ...,Forbes,0,0,0
1,2016-01-01,it is trades for the new year the fast money t...,trade new year fast money trader give trade ma...,"['it is ', ' trades for the new year the fast ...",CNBC,0,0,0
2,2016-01-01,airbus group se landed its first new airline c...,airbus group se land first new airline custome...,['airbus group se landed its first new airline...,International Business Times,0,0,0
3,2016-01-02,investing is becoming more of a grind expect i...,investing become grind expect stay way analyst...,"['investing is becoming more of a grind', 'exp...",CNBC,0,0,0
4,2016-01-02,mark wilsongetty imagesthe world is neverthele...,mark wilsongetty imagesthe world nevertheless ...,['mark wilsongetty imagesthe world is neverthe...,Business Insider,0,0,0
...,...,...,...,...,...,...,...,...
34574,2020-12-31,tokyo some major asian bourses were closed for...,tokyo major asian bourse close new year holida...,['tokyo some major asian bourses were closed f...,MarketWatch,1,2,2
34575,2020-12-31,nation is startup scene is beginning to show s...,nation startup scene begin show silicon valley...,['nation is startup scene is beginning to show...,The Wall Street Journal,1,2,2
34576,2020-12-31,the british pound surged thursday to a year do...,british pound surge thursday year dollar peak ...,['the british pound surged thursday to a year ...,International Business Times,1,2,2
34577,2020-12-31,los angeles ca dec globe newswire draganfly in...,los angeles ca dec globe newswire draganfly in...,['los angeles ca dec globe newswire draganfly ...,Yahoo Finance,1,2,2
34578,2020-12-31,wall street indices finished at alltime highs ...,wall street index finish alltime high thursday...,['wall street indices finished at alltime high...,International Business Times,1,2,2

In [23]:
jpy_no_wrong_date.to_csv('./Pre_data/conbine_data/USDJPY105_109.csv')

#### 合併完標簽數!!!!!!!

In [24]:
print("三分類無取範圍")
label_num(jpy_no_wrong_date["binary"])
print("三分類，取千分之一範圍")
label_num(jpy_no_wrong_date["ternary_1"])
print("三分類，取千分之二範圍")
label_num(jpy_no_wrong_date["ternary_2"])

三分類無取範圍
上漲:  16906
下跌:  17673
平盤:  0

三分類，取千分之一範圍
上漲:  13506
下跌:  14191
平盤:  6882

三分類，取千分之二範圍
上漲:  10685
下跌:  11081
平盤:  12813